html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Tagettes', sans-serif;
    font-size: 1.5rem;
    text-shadow: #fff 0 0 2px
}

.bg {
    background-image: url('$lib/assets/bg.png');
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -2;
}
.logo-bg {
    background-image: url('$lib/assets/logo.gif');
    background-repeat: repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -2;
}


h1 {
    color: gray;
    font-size: 3rem;
    font-family: 'TagettesPlus', sans-serif;
    text-shadow: #8eefb7 0 0 2px, #8eefb7 0 0 5px, #8eefb7 0 0 15px, -2px -2px 2px rgba(255, 255, 255, 0.9);
}

.smol-breakout-grid {
    --max-content-width: 50ch;
    --breakout-difference: 0.2;

    /*  Compute total allowed grid width to `--breakout-difference`
        larger than content area  */
    --breakout-grid-width: calc(
            var(--max-content-width) +
            (var(--max-content-width) * var(--breakout-difference))
    );

    display: grid;
    grid-template-columns:
    [grid-start] 1fr
    [content-start] minmax(
      min(100%, var(--max-content-width)),
      1fr
    )
    [content-end] 1fr
    [grid-end];
    width: min(100% - 2rem, var(--breakout-grid-width));
    row-gap: 1rem;
    margin: 5vb auto;
}

.smol-breakout-grid > *:not(.breakout) {
    grid-column: content;
}

.smol-breakout-grid > .breakout {
    grid-column: grid;
}

@font-face {
    font-family: 'TagettesPlus';
    src: url('$lib/assets/fonts/TagettesPlus.woff2') format('woff2'),
    url('$lib/assets/fonts/TagettesPlus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tagettes';
    src: url('$lib/assets/fonts/Tagettes.woff2') format('woff2'),
    url('$lib/assets/fonts/Tagettes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

